body {
	font-size: 20px;
}

#ctrl_container {
	padding: 5px 10px;
}

.ctrl_icon {
	width: 48px;
}
.ctrl_icon:hover {
	background-color: rgba(0, 191, 255, 0.1);
	outline: 1px solid rgba(0, 191, 255, 0.2);
}
.ctrl_icon:active {
	background-color: rgba(0, 191, 255, 0.2);
	outline: 1px solid rgba(0, 191, 255, 0.4);
}
.ctrl_icon:disabled {
	background-color: unset;
	opacity: 0.5;
	filter: grayscale(1);
}
