body {
	overflow: hidden;
	background-color: #eee;
	font-size: 18px;
	font-family: Menlo, Monaco, 'ＭＳ ゴシック', 'MS Gothic', 'Courier New', monospace;

	-webkit-text-size-adjust: 100%;

	--rezie-with: 8px;
}
body::before {
	display: none;
	content: "landscape";
}

.ctrl_icon {
	width: 32px;
}
.ctrl_icon:hover {
	background-color: rgba(0, 191, 255, 0.2);
	outline: 1px solid rgba(0, 191, 255, 0.3);
}
.ctrl_icon:active {
	background-color: rgba(0, 191, 255, 0.3);
	outline: 1px solid rgba(0, 191, 255, 0.4);
}
.ctrl_icon:disabled {
	background-color: unset;
	opacity: 0.5;
	filter: grayscale(1);
}

#container {
	background-color: #fff;
	overflow: hidden;
	width: calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right));
	margin: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
	height: 100dvh;
	display: grid;
	grid-template-rows: 42px 1fr var(--rezie-with) 0;
	grid-template-columns: 1fr var(--rezie-with) 0;
	grid-template-areas: "ctrl ctrl ctrl"
		"editor var_resizer_x var"
		"console_resizer console_resizer console_resizer"
		"console console console";
	outline: 1px solid #ccc;
}

#ctrl_container {
	grid-area: ctrl;
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
	background-color: #eee;
}

#editor_container {
	grid-area: editor;
	margin: 0 calc(var(--rezie-with) / -2) calc(var(--rezie-with) / -2) 0;
	position: relative;
	overflow: hidden;
}

#var_resizer_x {
	display: block;
	grid-area: var_resizer_x;
	cursor: ew-resize;
	z-index: 2;
	position: relative;
	margin: 0 0 calc(var(--rezie-with) / -2) 0;
}
#var_resizer_x::after {
	content: "";
	position: absolute;
	top: 0px;
	left: calc(var(--rezie-with) / 2);
	width: 4px;
	height: 100%;
	background-color: #ccc;
}
#var_resizer_y {
	display: none;
}

#var_container {
	grid-area: var;
	overflow: scroll;
	margin: 0 0 calc(var(--rezie-with) / -2) calc(var(--rezie-with) / -2 + 4px);
	z-index: 1;
}

#variable {
	margin: 2px;
	white-space: nowrap;
}

#console_resizer {
	grid-area: console_resizer;
	cursor: ns-resize;
	z-index: 2;
	position: relative;
}
#console_resizer::after {
	content: "";
	position: absolute;
	top: calc(var(--rezie-with) / 2);
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #ccc;
}

#console_container {
	grid-area: console;

	overflow-x: hidden;
	overflow-y: scroll;
	margin: calc(var(--rezie-with) / -2 + 4px) 0 0 0;
	z-index: 1;
}

@media (orientation: portrait) {
	body::before {
		content: "portrait";
	}
	.ctrl_icon {
		width: 48px;
	}
	#container {
		grid-template-rows: 58px 1fr var(--rezie-with) 0 var(--rezie-with) 0;
		grid-template-columns: auto;
		grid-template-areas: "ctrl"
			"editor"
			"var_resizer_y"
			"var"
			"console_resizer"
			"console";
	}

	#editor_container {
		margin: 0 0 calc(var(--rezie-with) / -2) 0;
	}
	#var_resizer_x {
		display: none;
	}
	#var_resizer_y {
		display: block;
		grid-area: var_resizer_y;
		cursor: ns-resize;
		z-index: 2;
		position: relative;
	}
	#var_resizer_y::after {
		content: "";
		position: absolute;
		top: calc(var(--rezie-with) / 2);
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #ccc;
	}
	#var_container {
		border-left: unset;
		margin: calc(var(--rezie-with) / -2 + 4px) 0 calc(var(--rezie-with) / -2) 0;
	}
}
