body {
	overflow: hidden;
	background-color: #eee;
	font-size: 18px;
	font-family: Menlo, Monaco, 'ＭＳ ゴシック', 'MS Gothic', 'Courier New', monospace;

	-webkit-text-size-adjust: 100%;

	--resize-with: 4px;
}
body::before {
	display: none;
	content: "landscape";
}

.ctrl_icon {
	touch-action: manipulation;
	width: 32px;
}
.ctrl_icon:hover {
	background-color: rgba(0, 191, 255, 0.2);
	outline: 1px solid rgba(0, 191, 255, 0.3);
}
.ctrl_icon:active {
	background-color: rgba(0, 191, 255, 0.3);
	outline: 1px solid rgba(0, 191, 255, 0.4);
}
.ctrl_icon:disabled {
	background-color: unset;
	opacity: 0.5;
	filter: grayscale(1);
}

#container {
	background-color: #fff;
	overflow: hidden;
	width: calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right));
	margin: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
	height: 100dvh;
	display: grid;
	grid-template-rows: 42px 1fr var(--resize-with) 0 0;
	grid-template-columns: max-content 1fr var(--resize-with) 0;
	grid-template-areas: "ctrl ctrl ctrl ctrl"
		"line_number editor var_resizer_x var"
		"console_resizer console_resizer console_resizer console_resizer"
		"console console console console"
		"key key key key";
	outline: 1px solid #ccc;
}

#container.full {
	position: fixed;
	top: 0;
}

#ctrl_container {
	grid-area: ctrl;
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
	background-color: #eee;
}

#line_container {
	grid-area: line_number;
	margin: 0 0 calc(var(--resize-with) / -2) 0;
}

#editor_container {
	grid-area: editor;
	margin: 0 calc(var(--resize-with) / -2) calc(var(--resize-with) / -2) 0;
}

#editor_container.full {
	margin: 0;
}

#var_resizer_x {
	display: block;
	grid-area: var_resizer_x;
	cursor: ew-resize;
	z-index: 2;
	position: relative;
	margin: 0 0 calc(var(--resize-with) / -2) 0;
}
#var_resizer_x::after {
	content: "";
	position: absolute;
	top: 0px;
	left: calc(var(--resize-with) / 2);
	width: 4px;
	height: 100%;
	background-color: #ccc;
}
#var_resizer_y {
	display: none;
}

#variable_container {
	grid-area: var;
	margin: 0 0 calc(var(--resize-with) / -2) calc(var(--resize-with) / -2 + 4px);
	z-index: 1;
}
#variable_container.full {
	display: none;
}

#console_resizer {
	grid-area: console_resizer;
	cursor: ns-resize;
	z-index: 2;
	position: relative;
}
#console_resizer::after {
	content: "";
	position: absolute;
	top: calc(var(--resize-with) / 2);
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #ccc;
}

#console_container {
	grid-area: console;
	margin: calc(var(--resize-with) / -2 + 4px) 0 0 0;
}
#console_container.full {
	display: none;
}

#key_container {
	grid-area: key;
	z-index: 3;
	background-color: #eee;
	display: none;
	border-top: 1px solid #ccc;
}
#key_container.full {
	display: flex;
}

.key_button {
	cursor: default;
	padding: 4px;
	width: 30px;
	margin: 3px;
	border: 1px solid #aaa;
	border-radius: 5px;
	background-color: #fff;
	text-align: center;
	touch-action: none;
}
.key_button:active {
	background-color: rgba(0, 191, 255, 0.3);
	border: 1px solid rgba(0, 191, 255, 0.4);
}

#key_close {
	margin-right: 3px;
	margin-left: auto;
}

@media (orientation: portrait) {
	body::before {
		content: "portrait";
	}
	.ctrl_icon {
		width: 48px;
	}
	#container {
		grid-template-rows: 58px 1fr var(--resize-with) 0 var(--resize-with) 0 0;
		grid-template-columns: max-content 1fr;
		grid-template-areas: "ctrl ctrl"
			"line_number editor"
			"var_resizer_y var_resizer_y"
			"var var"
			"console_resizer console_resizer"
			"console console"
			"key key";
	}

	#editor_container {
		margin: 0 0 calc(var(--resize-with) / -2) 0;
	}
	#var_resizer_x {
		display: none;
	}
	#var_resizer_y {
		display: block;
		grid-area: var_resizer_y;
		cursor: ns-resize;
		z-index: 2;
		position: relative;
	}
	#var_resizer_y::after {
		content: "";
		position: absolute;
		top: calc(var(--resize-with) / 2);
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #ccc;
	}
	#variable_container {
		border-left: unset;
		margin: calc(var(--resize-with) / -2 + 4px) 0 calc(var(--resize-with) / -2) 0;
	}
}

.menu-toggle {
	display: none;
}

.menu-icon {
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	font-size: 20px;
	cursor: pointer;
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 100;
}

.menu-btn {
	position: fixed;
	top: 0px;
	right: calc(10px + env(safe-area-inset-left));
	display: flex;
	height: 40px;
	width: 40px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 100;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
	content: '';
	display: block;
	height: 3px;
	width: 25px;
	border-radius: 3px;
	background-color: #000;
	position: absolute;
	transition: 0.3s;
}
.menu-btn span:before {
	bottom: 8px;
}
.menu-btn span:after {
	top: 8px;
}

#menu-toggle:checked ~ .menu-btn span {
	background-color: rgba(255, 255, 255, 0);
}
#menu-toggle:checked ~ .menu-btn span::before {
	bottom: 0;
	transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn span::after {
	top: 0;
	transform: rotate(-45deg);
}

.menu {
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	position: fixed;
	top: 0;
	right: calc(-300px - env(safe-area-inset-right));
	width: calc(300px + env(safe-area-inset-right));
	height: 100%;
	background-color: #ddd;
	overflow-y: auto;
	transition: right 0.3s;
	z-index: 99;
}

.menu ul {
	list-style-type: none;
	padding-top: 40px;
}

.menu ul li a {
	display: block;
	padding: 10px 15px;
	color: black;
	text-decoration: none;
}

.menu-toggle:checked + .menu-btn + .menu {
	right: 0;
}

.content {
	padding: 20px;
}

@media (orientation: portrait) {
	.menu-btn {
		position: fixed;
		top: 10px;
	}

	.menu {
		width: 100%;
		right: -100%;
	}

	.menu ul {
		padding-top: 58px;
	}
}

.menu ul li a:hover {
	background-color: #ccc;
}
