html {
	min-height: calc(100% + env(safe-area-inset-top));
}

body {
	overflow: hidden;
	background-color: #f1f3f4;
	font-family: Menlo, Monaco, 'ＭＳ ゴシック', 'MS Gothic', 'Courier New', monospace;
	-webkit-text-size-adjust: 100%;

	--resize-with: 4px;
	--font-size: 18px;

	font-size: var(--font-size);
}
body::before {
	display: none;
	content: "landscape";
}

.menu-toggle {
	display: none;
}
.menu-btn {
	cursor: pointer;
	position: fixed;
	display: flex;
	top: calc(5px + env(safe-area-inset-top));
	right: calc(7px + env(safe-area-inset-left));
	height: calc(var(--font-size) * 1.8);
	width: calc(var(--font-size) * 1.8);
	justify-content: center;
	align-items: center;
	z-index: 100;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
	content: '';
	display: block;
	height: 2px;
	width: calc(var(--font-size) * 1.3);
	border-radius: 3px;
	background-color: #000;
	position: absolute;
	transition: 0.3s;
}
.menu-btn:focus-visible {
	outline: #000 auto 1px;
}
.menu-btn span:before {
	bottom: calc(var(--font-size) / 2.2);
}
.menu-btn span::after {
	top: calc(var(--font-size) / 2.2);
}
#menu-toggle:checked ~ .menu-btn span {
	background-color: rgba(255, 255, 255, 0);
}
#menu-toggle:checked ~ .menu-btn span::before {
	bottom: 0;
	transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn span::after {
	top: 0;
	transform: rotate(-45deg);
}
.menu {
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	position: fixed;
	top: 0;
	right: calc(-300px - env(safe-area-inset-right));
	width: calc(300px + env(safe-area-inset-right));
	padding-top: env(safe-area-inset-top);
	height: 100%;
	background-color: #f1f3f4;
	overflow-y: auto;
	transition: right 0.3s;
	z-index: 99;
}
.menu ul {
	display: none;
	list-style-type: none;
	padding-top: calc(var(--font-size) * 1.8 + 10px);
	padding-bottom: env(safe-area-inset-bottom);
}
.menu ul li a {
	display: block;
	padding: 10px 15px;
	color: black;
	text-decoration: none;
}
.menu ul li a:hover {
	background-color: #e5e7ec;
}
.menu-toggle:checked + .menu-btn + .menu {
	right: 0;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}
.menu-toggle:checked + .menu-btn + .menu ul {
	display: block;
}

#container {
	overflow: hidden;
	width: calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right));
	margin: env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left);
	height: calc(100dvh - env(safe-area-inset-top));
	background-color: #f1f3f4;
	display: grid;
	grid-template-rows: max-content 1fr var(--resize-with) 0 0;
	grid-template-columns: max-content 1fr var(--resize-with) 0;
	grid-template-areas: "ctrl ctrl ctrl ctrl"
		"line-number editor var-resizer-x var"
		"console-resizer console-resizer console-resizer console-resizer"
		"console console console console"
		"key key key key";
}
#container.full {
	grid-template-rows: max-content 1fr 0px 0px !important;
	grid-template-columns: max-content 1fr 0px 0px max-content !important;
}

#ctrl-container {
	grid-area: ctrl;
	background-color: #f1f3f4;
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
}
.ctrl-icon {
	touch-action: manipulation;
	width: calc(var(--font-size) * 1.8);
}
.ctrl-icon:hover {
	background-color: rgba(0, 191, 255, 0.2);
	outline: 1px solid rgba(0, 191, 255, 0.3);
}
.ctrl-icon:active {
	background-color: rgba(0, 191, 255, 0.3);
	outline: 1px solid rgba(0, 191, 255, 0.4);
}
.ctrl-icon:disabled {
	background-color: unset;
	opacity: 0.5;
	filter: grayscale(1);
}
#exec-speed {
	font-size: calc(var(--font-size) - 4px);
}

#line-container {
	grid-area: line-number;
	background-color: #fff;
	margin: 0 0 calc(var(--resize-with) / -2) 0;
}

#editor-container {
	grid-area: editor;
	background-color: #fff;
	margin: 0 calc(var(--resize-with) / -2) calc(var(--resize-with) / -2) 0;
}
#editor-container.full {
	margin: 0;
}

#var-resizer-x {
	display: block;
	grid-area: var-resizer-x;
	cursor: ew-resize;
	z-index: 2;
	position: relative;
	margin: 0 0 calc(var(--resize-with) / -2) 0;
}
#var-resizer-x::after {
	content: "";
	position: absolute;
	top: 0px;
	left: calc(var(--resize-with) / 2);
	width: 4px;
	height: 100%;
	background-color: #ccc;
}
#var-resizer-y {
	display: none;
}

#variable-container {
	grid-area: var;
	background-color: #fff;
	margin: 0 0 calc(var(--resize-with) / -2) calc(var(--resize-with) / -2 + 4px);
	z-index: 1;
}
#variable-container.full {
	display: none;
}

#console-resizer {
	grid-area: console-resizer;
	cursor: ns-resize;
	z-index: 2;
	position: relative;
}
#console-resizer::after {
	content: "";
	position: absolute;
	top: calc(var(--resize-with) / 2);
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #ccc;
}

#console-container {
	grid-area: console;
	background-color: #fff;
	margin: calc(var(--resize-with) / -2 + 4px) 0 0 0;
}
#console-container.full {
	display: none;
}

#key-container {
	grid-area: key;
	z-index: 3;
	background-color: #f1f3f4;
	display: none;
	border-top: 1px solid #ccc;
}
#key-container.full {
	display: flex;
}

.key-button {
	cursor: default;
	padding: 4px;
	width: 30px;
	margin: 3px;
	border: 1px solid #aaa;
	border-radius: 5px;
	background-color: #fff;
	text-align: center;
	touch-action: none;
}
.key-button:active {
	background-color: rgba(0, 191, 255, 0.3);
	border: 1px solid rgba(0, 191, 255, 0.4);
}

#key-close {
	margin-right: 3px;
	margin-left: auto;
}

@media (orientation: portrait) {
	body::before {
		content: "portrait";
	}
	.menu-btn {
		height: calc(var(--font-size) * 2.2);
		width: calc(var(--font-size) * 2.2);
	}
	.menu-btn span,
	.menu-btn span::before,
	.menu-btn span::after {
		height: 2px;
		width: calc(var(--font-size) * 1.3);
	}
	.menu-btn span:before {
		bottom: calc(var(--font-size) / 2.2);
	}
	.menu-btn span::after {
		top: calc(var(--font-size) / 2.2);
	}
	.menu {
		width: 100%;
		right: -100%;
	}
	.menu ul {
		padding-top: calc(var(--font-size) * 2.2 + 10px);
	}
	.ctrl-icon {
		width: calc(var(--font-size) * 2.2);
	}
	#exec-speed {
		font-size: calc(var(--font-size) - 2px);
	}
	#container {
		grid-template-rows: max-content 1fr var(--resize-with) 0 var(--resize-with) 0 0;
		grid-template-columns: max-content 1fr;
		grid-template-areas: "ctrl ctrl"
			"line-number editor"
			"var-resizer-y var-resizer-y"
			"var var"
			"console-resizer console-resizer"
			"console console"
			"key key";
	}
	#container.full {
		grid-template-rows: max-content 1fr 0px 0px 0px 0px max-content !important;
		grid-template-columns: max-content 1fr !important;
	}
	#editor-container {
		margin: 0 0 calc(var(--resize-with) / -2) 0;
	}
	#var-resizer-x {
		display: none;
	}
	#var-resizer-y {
		display: block;
		grid-area: var-resizer-y;
		cursor: ns-resize;
		z-index: 2;
		position: relative;
	}
	#var-resizer-y::after {
		content: "";
		position: absolute;
		top: calc(var(--resize-with) / 2);
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #ccc;
	}
	#variable-container {
		border-left: unset;
		margin: calc(var(--resize-with) / -2 + 4px) 0 calc(var(--resize-with) / -2) 0;
	}
}

@media print {
	body {
		background-color: #fff !important;
		color: #000 !important;
		overflow: auto;
	}
	#container {
		display: block;
		overflow: initial;
		height: 100% !important;
		outline: 0px;
	}
	#ctrl-container,
	#var-resizer-x,
	#var-resizer-y,
	#variable-container,
	#console-resizer,
	#console-container,
	#key-container {
		display: none;
	}
	#editor-container {
		grid-area: editor;
		margin: 10px 0 0 0;
	}
}
