body {
	font-size: 20px;
}

#ctrl_container {
	padding: 5px 10px;
}

.ctrl_icon {
	width: 48px;
}
.ctrl_icon:hover {
	background-color: rgba(0, 191, 255, 0.1);
	outline: 1px solid rgba(0, 191, 255, 0.2);
}
.ctrl_icon:active {
	background-color: rgba(0, 191, 255, 0.2);
	outline: 1px solid rgba(0, 191, 255, 0.4);
}
.ctrl_icon:disabled {
	background-color: unset;
	opacity: 0.5;
	filter: grayscale(1);
}

.time {
	color: #808080;
}

.info {
	color: #0000ff;
}

.error {
	color: red;
}

#console_container {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#console_wrapper {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 300px;
}

#console {
	line-height: 1.3;
}

#console hr {
	margin: 0.5em 0;
}

