#modal-overlay {
	z-index: 199;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	background-color: rgba(0,0,0,0.3);
}
.dialog {
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	font-size: calc(var(--font-size) + 2px);
	padding: calc(var(--font-size) * 1.6);
	width: calc(var(--font-size) * 30);
	max-width: 80%;
	height: fit-content;
	z-index: 200;
	box-shadow: 0 10px 30px rgba(0,0,0,0.5);
	border-radius: 10px;
	background-color: #fff;

	position: fixed;
	inset: 0;
	margin: auto;
}

#menu-overlay {
	z-index: 201;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
}
.dialog-menu {
	z-index: 202;

	box-shadow: 0 10px 30px rgba(0,0,0,0.5);
	border-radius: 10px;
	background-color: #fff;
	width: fit-content;
	height: fit-content;
	overflow: hidden;
	position: fixed;
}
.dialog-menu div {
	border-bottom: 1px solid #ddd;
}
.dialog-menu div:last-child {
	border-bottom: 0px;
}
.dialog-menu a:hover, .dialog-menu a:focus {
	background-color: #eee;
}
.dialog-menu a:active {
	background-color: #ddd;
}
.dialog-menu a {
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	color: black;
	text-decoration: none;
	display: block;
	padding: 20px;
}

#setting {
	display: none;
}

.close {
	position: absolute;
	cursor: pointer;
	background-color: #fff;
	color: #000;
	border-radius: 20px;
	top: 8px;
	right: 10px;
	height: 30px;
	width: 30px;
}
.close::before,
.close::after {
	content: '';
	display: block;
	height: 2px;
	width: 16px;
	border-radius: 3px;
	background-color: #000;
	position: absolute;
	top: 14px;
	left: 7px;
}
.close::before {
	transform: rotate(45deg);
}
.close::after {
	transform: rotate(-45deg);
}
.close:hover, .close:focus {
	background-color: #eee;
}
.close:active {
	background-color: #bbb;
}

#setting div {
	margin-bottom: var(--font-size);
}
#setting div:last-of-type {
	margin-bottom: 0px;
}
#setting select {
	font-size: calc(var(--font-size) - 2px);
}

#setting input[type="checkbox"] {
	width: var(--font-size);
	height: var(--font-size);
}

#message {
	display: none;
}
.message-button-container {
	padding: 20px 0px 0px 0px;
	text-align: center;
}
.message-button {
	cursor: default;
	background-color: #fff;
	color: #006cff;
	font-size: calc(var(--font-size) + 2px);
	border: 1px solid #006cff;
	vertical-align: middle;
	text-align: center;
	border-radius: 10px;
	margin: 0 8px;
	padding: 10px 20px;
	min-width: 110px
}
.message-button:active {
	background-color: #006cff;
	color: #fff;
}

#online-save {
	display: none;
}
#online-save div {
	margin-bottom: var(--font-size);
}
#online-save div:last-child {
	margin-bottom: 0;
}
#online-save input[type="text"], #online-save input[type="password"] {
	font-size: var(--font-size);
	width: 90%;
}
#online-save input[type="checkbox"] {
	width: var(--font-size);
	height: var(--font-size);
}
#online-save input[type="button"] {
	font-size: calc(var(--font-size) - 2px);
}

#online-open {
	display: none;
	width: calc(var(--font-size) * 40);
	max-width: 80%;
}
#online-open input[type="text"] {
	font-size: calc(var(--font-size) - 2px);
}

#online-open-search {
	position: relative;
	margin-top: 10px;
	padding: 3px 10px;
	border: 1px solid #999;
	border-radius: 20px;
	overflow: hidden;
}
#online-open-search-text {
	width: 95%;
	border: none;
}
#online-open-search-text:focus {
	outline: 0;
}
#online-open-search-button {
	cursor: pointer;
	appearance: none;
	border: none;
	outline: none;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 5px;
	border-radius: 50%;
	width: calc(var(--font-size) + 2px);
}
#online-open-search-button:hover, #online-open-search-button:focus {
	opacity: 0.7;
}
#online-open-search-button:active {
	opacity: 0.5;
}

#online-open-list {
	position: relative;
	width: 100%;
	height: calc(100vh - 200px - env(safe-area-inset-top) - env(safe-area-inset-bottom));
	overflow-y: scroll;
	border: 1px solid #999;
	margin-top: 15px;
}

#online-history {
	display: none;
	width: calc(var(--font-size) * 40);
	max-width: 80%;
}
#online-history-list {
	position: relative;
	width: 100%;
	height: calc(100vh - 200px - env(safe-area-inset-top) - env(safe-area-inset-bottom));
	overflow-y: scroll;
	border: 1px solid #999;
	margin-top: 15px;
}

@supports(height: 100dvh) {
	#online-open-list {
		height: calc(100dvh - 200px - env(safe-area-inset-top) - env(safe-area-inset-bottom));
	}
	#online-history-list {
		height: calc(100dvh - 200px - env(safe-area-inset-top) - env(safe-area-inset-bottom));
	}
}

#loading {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.file-item {
	cursor: pointer;
	position: relative;
	padding: 10px 40px 10px 10px;
	border-bottom: 1px solid #ddd;
}
.file-item:hover, .file-item:focus {
	background-color: #eee;
}
.file-item:active {
	background-color: #ddd;
}
.file-author {
	font-size: calc(var(--font-size) * 0.8);
	color: #aaa;
	margin-left: 5px;
}
.file-time {
	font-size: calc(var(--font-size) * 0.8);
	color: #aaa;
}
.file-current {
	display: inline-block;
	font-size: calc(var(--font-size) * 0.8);
	padding: 4px 10px;
	border-radius: 15px;
	background-color: #bbb;
	color: #fff;
	white-space: nowrap;
	vertical-align: top;
}

.file-menu {
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translate(0, -50%);
	width: 30px;
	padding: 5px;
	opacity: 0.5;
	border-radius: 50%;
}
.file-menu:hover, .file-menu:focus {
	background-color: #ccc;
}
.file-menu:active {
	background-color: #aaa;
}

#online-open-menu {
	display: none;
	text-align: center;
}

#online-open-remove-div a {
	background-color: #f44336;
	color: #fff;
}
#online-open-remove-div a:hover, #online-open-remove-div a:focus {
	background-color: #d32f2f;
}
#online-open-remove-div a:active {
	background-color: #b71c1c;
}

.read-item {
	cursor: pointer;
	padding: 20px;
	text-align: center;
	color: #aaa;
	border-bottom: 1px solid #ddd;
}
.read-item:hover, .read-item:focus {
	background-color: #eee;
}
.read-item:active {
	background-color: #ddd;
}
