#console_container {
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 1;
}

#console {
	margin: 2px;
	line-height: 1.3;
	white-space: pre-wrap;
	word-break: break-word;
	padding-bottom: env(safe-area-inset-bottom);
	tab-size: 4;
}

#console hr {
	margin: 0.5em 0;
}

.time {
	color: #808080;
}

.info {
	color: #0000ff;
}

.error {
	color: red;
}
