#editor_container {
	cursor: text;
}

#editor {
	font-family: Menlo, Monaco, 'ＭＳ ゴシック', 'MS Gothic', 'Courier New', monospace;
	white-space: pre;
	position: relative;
	cursor: text;
	width: 100%;
	height: 100%;
	tab-size: 4;
	overflow: scroll;
}

::selection {
	background: #b3d4fc;
}

.keyword {
	color: blue;
}

.string-literal, .string-literal .keyword {
	color: #800000;
}

.comment, .comment .keyword, .comment .string-literal {
	color: #008000;
}


.highlight {
	display: inline-block;
	width: 100%;
}
