#editor_container {
	font-family: Menlo, Monaco, 'ＭＳ ゴシック', 'MS Gothic', 'Courier New', monospace;
	cursor: text;
}

#line_number {
	cursor: default;
	text-align: right;
	width: max-content;
	height: 100%;
	padding: 2px 5px 0 10px;
	margin-right: 1px;
	color: #0078d7;
	border-right: 1px solid #aaa;
	overflow: hidden;
}

#editor {
	white-space: pre;
	overflow: hidden;
	tab-size: 4;
	width: max-content;
	height: max-content;
	min-width: 100%;
	min-height: 100%;
}

.keyword {
	color: blue;
}

.string-literal, .string-literal .keyword {
	color: #800000;
}

.comment, .comment .keyword, .comment .string-literal {
	color: #008000;
}

.highlight {
	display: inline-block;
	width: 100%;
}
