#line-container {
	position: relative;
	overflow: hidden;
	cursor: default;
}

#line-number {
	text-align: right;
	width: max-content;
	height: 100%;
	padding: 2px 5px 0 10px;
	color: #0078d7;
	border-right: 1px solid #aaa;
	overflow: hidden;
}

#editor-container {
	position: relative;
	overflow: scroll;
	padding: 2px;
	cursor: text;
}

#editor {
	white-space: pre;
	overflow: hidden;
	tab-size: 4;
	width: max-content;
	height: max-content;
	min-width: 100%;
	min-height: 100%;
}

.keyword {
	color: blue;
}

.string-literal, .string-literal .keyword {
	color: #800000;
}

.comment, .comment .keyword, .comment .string-literal {
	color: #008000;
}

.highlight {
	display: inline-block;
	width: 100%;
}
