#editor_container {
	cursor: text;
}

#editor {
	font-family: Menlo, Monaco, 'ＭＳ ゴシック', 'MS Gothic', 'Courier New', monospace;
	white-space: pre;
	position: relative;
	overflow: hidden;
	cursor: text;
	tab-size: 4;
	width: max-content;
	min-width: 100%;
	min-height: 100%;
}

.keyword {
	color: blue;
}

.string-literal, .string-literal .keyword {
	color: #800000;
}

.comment, .comment .keyword, .comment .string-literal {
	color: #008000;
}

.highlight {
	display: inline-block;
	width: 100%;
}
