#variable-container {
	overflow: scroll;
	cursor: default;
}

#variable {
	position: relative;
	height: calc(100% - var(--resize-with) / 2);
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 200px var(--resize-with) max-content;
	grid-template-areas: "name resizer value";
}

.var_header {
	background-color: #f1f3f4;
	position: sticky;
	top: 0;
	z-index: 2;
}

#var-name {
	margin: 0 calc(var(--resize-with) / -2) calc(var(--resize-with) / -2) 0;
}

#var-name div {
	grid-area: name;
	padding: 4px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#var-name .var_header {
	padding-left: 30px;
}

#var-name .item_name {
	padding-left: 30px;
}

.item_name > span {
	position: relative;
}
.item_name > span > .open_icon {
	display: inline-block;
	width: 10px;
	position: absolute;
	cursor: pointer;
}

.item_name.array > span > .open_icon {
	top: 0px;
	left: -22px;
	height: 18px;
	width: 18px;
}
.item_name.array > span > .open_icon:after {
	content: "";
	position: absolute;
	background-color: #2196f3;
	top: 2px;
	left: 4px;
	height: 15px;
	width: 10px;
	clip-path: polygon(0 0, 100% 50%, 0 100%);
}
.item_name.array.open > span > .open_icon:after {
	transform: rotate(90deg);
}

#var-resizer {
	grid-area: resizer;
	cursor: ew-resize;
	position: relative;
	margin: 0 0 calc(var(--resize-with) / -2) 0;
	z-index: 3;
}
#var-resizer::after {
	content: "";
	position: absolute;
	top: 0px;
	left: calc(var(--resize-with) / 2);
	width: 1px;
	height: 100%;
	background-color: #aaa;
	z-index: 3;
}

#var-value {
	margin: 0 0 calc(var(--resize-with) / -2) calc(var(--resize-with) / -2 + 1px);
}

#var-value div {
	grid-area: value;
	min-width: 600px;
	padding: 4px 4px 4px 10px;
	white-space: nowrap;
}

.modify {
	color: red;
}

.var_select {
	background: #2196f3;
	color: #fff;
}
.var_select.array > span > .open_icon:after {
	background-color: #fff;
}

