#variable-container {
	overflow: scroll;
	cursor: default;
}

#variable {
	position: relative;
	height: calc(100% - var(--resize-with) / 2);
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 200px var(--resize-with) max-content;
	grid-template-areas: "name resizer value";
}

.var-header {
	background-color: #f1f3f4;
	position: sticky;
	top: 0;
	z-index: 2;
}

#var-name {
	margin: 0 calc(var(--resize-with) / -2) calc(var(--resize-with) / -2) 0;
}

#var-name div {
	grid-area: name;
	padding: 4px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#var-name .var-header {
	padding-left: calc(var(--font-size) * 1.7);
}

#var-name .item-name {
	padding-left: calc(var(--font-size) * 1.7);
}

.item-name > span {
	position: relative;
}
.item-name.array > span > .open-icon {
	display: inline-block;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: calc((var(--font-size) * -1) - 4px);
	height: var(--font-size);
	width: var(--font-size);
}
.item-name.array > span > .open-icon:after {
	content: "";
	position: absolute;
	background-color: #2196f3;
	top: calc(var(--font-size) * 0.1);
	left: calc(var(--font-size) * 0.2);
	height: calc(var(--font-size) * 0.8);
	width: calc(var(--font-size) * 0.55);
	clip-path: polygon(0 0, 100% 50%, 0 100%);
}
.item-name.array.open > span > .open-icon:after {
	transform: rotate(90deg);
}
_:lang(x)+_:-webkit-full-screen-document, .item-name.array > span > .open-icon:after {
	top: calc(var(--font-size) * 0.1 + 2px);
}

#var-resizer {
	grid-area: resizer;
	cursor: ew-resize;
	position: relative;
	margin: 0 0 calc(var(--resize-with) / -2) 0;
	z-index: 3;
}
#var-resizer::after {
	content: "";
	position: absolute;
	top: 0px;
	left: calc(var(--resize-with) / 2);
	width: 1px;
	height: 100%;
	background-color: #aaa;
	z-index: 3;
}

#var-value {
	margin: 0 0 calc(var(--resize-with) / -2) calc(var(--resize-with) / -2 + 1px);
}

#var-value div {
	grid-area: value;
	min-width: 600px;
	padding: 4px 4px 4px 10px;
	white-space: nowrap;
}

.shadowing {
	background-color: gray;
}
.modify {
	color: red;
}

.var-select {
	background: #2196f3;
	color: #fff;
}
.var-select.array > span > .open-icon:after {
	background-color: #fff;
}
